<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xst.mapper.pro.Protb110Mapper" >
  <resultMap id="BaseResultMap" type="com.xst.pro.Protb110" >
    <id column="PROTB110ID" property="protb110id" jdbcType="VARCHAR" />
    <id column="PROTB110CD01" property="protb110cd01" jdbcType="VARCHAR" />
    <result column="SETTB03ID" property="settb03id" jdbcType="VARCHAR" />
    <result column="PROTB110CA00" property="protb110ca00" jdbcType="TIMESTAMP" />
    <result column="PROTB110CA01" property="protb110ca01" jdbcType="TIMESTAMP" />
    <result column="PROTB110CA02" property="protb110ca02" jdbcType="VARCHAR" />
    <result column="PROTB110CA03" property="protb110ca03" jdbcType="VARCHAR" />
    <result column="PROTB110CC00" property="protb110cc00" jdbcType="TIMESTAMP" />
    <result column="PROTB110CC01" property="protb110cc01" jdbcType="VARCHAR" />
    <result column="PROTB110CC02" property="protb110cc02" jdbcType="TIMESTAMP" />
    <result column="PROTB110CC03" property="protb110cc03" jdbcType="VARCHAR" />
    <result column="PROTB110CD00" property="protb110cd00" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROTB110ID, PROTB110CD01, SETTB03ID, PROTB110CA00, PROTB110CA01, PROTB110CA02, PROTB110CA03, 
    PROTB110CC00, PROTB110CC01, PROTB110CC02, PROTB110CC03, PROTB110CD00
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xst.pro.Protb110Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from protb110
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xst.pro.Protb110Key" >
    select 
    <include refid="Base_Column_List" />
    from protb110
    where PROTB110ID = #{protb110id,jdbcType=VARCHAR}
      and PROTB110CD01 = #{protb110cd01,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xst.pro.Protb110Key" >
    delete from protb110
    where PROTB110ID = #{protb110id,jdbcType=VARCHAR}
      and PROTB110CD01 = #{protb110cd01,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xst.pro.Protb110Example" >
    delete from protb110
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xst.pro.Protb110" >
    insert into protb110 (PROTB110ID, PROTB110CD01, SETTB03ID, 
      PROTB110CA00, PROTB110CA01, PROTB110CA02, 
      PROTB110CA03, PROTB110CC00, PROTB110CC01, 
      PROTB110CC02, PROTB110CC03, PROTB110CD00
      )
    values (#{protb110id,jdbcType=VARCHAR}, #{protb110cd01,jdbcType=VARCHAR}, #{settb03id,jdbcType=VARCHAR}, 
      #{protb110ca00,jdbcType=TIMESTAMP}, #{protb110ca01,jdbcType=TIMESTAMP}, #{protb110ca02,jdbcType=VARCHAR}, 
      #{protb110ca03,jdbcType=VARCHAR}, #{protb110cc00,jdbcType=TIMESTAMP}, #{protb110cc01,jdbcType=VARCHAR}, 
      #{protb110cc02,jdbcType=TIMESTAMP}, #{protb110cc03,jdbcType=VARCHAR}, #{protb110cd00,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xst.pro.Protb110" >
    insert into protb110
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="protb110id != null" >
        PROTB110ID,
      </if>
      <if test="protb110cd01 != null" >
        PROTB110CD01,
      </if>
      <if test="settb03id != null" >
        SETTB03ID,
      </if>
      <if test="protb110ca00 != null" >
        PROTB110CA00,
      </if>
      <if test="protb110ca01 != null" >
        PROTB110CA01,
      </if>
      <if test="protb110ca02 != null" >
        PROTB110CA02,
      </if>
      <if test="protb110ca03 != null" >
        PROTB110CA03,
      </if>
      <if test="protb110cc00 != null" >
        PROTB110CC00,
      </if>
      <if test="protb110cc01 != null" >
        PROTB110CC01,
      </if>
      <if test="protb110cc02 != null" >
        PROTB110CC02,
      </if>
      <if test="protb110cc03 != null" >
        PROTB110CC03,
      </if>
      <if test="protb110cd00 != null" >
        PROTB110CD00,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="protb110id != null" >
        #{protb110id,jdbcType=VARCHAR},
      </if>
      <if test="protb110cd01 != null" >
        #{protb110cd01,jdbcType=VARCHAR},
      </if>
      <if test="settb03id != null" >
        #{settb03id,jdbcType=VARCHAR},
      </if>
      <if test="protb110ca00 != null" >
        #{protb110ca00,jdbcType=TIMESTAMP},
      </if>
      <if test="protb110ca01 != null" >
        #{protb110ca01,jdbcType=TIMESTAMP},
      </if>
      <if test="protb110ca02 != null" >
        #{protb110ca02,jdbcType=VARCHAR},
      </if>
      <if test="protb110ca03 != null" >
        #{protb110ca03,jdbcType=VARCHAR},
      </if>
      <if test="protb110cc00 != null" >
        #{protb110cc00,jdbcType=TIMESTAMP},
      </if>
      <if test="protb110cc01 != null" >
        #{protb110cc01,jdbcType=VARCHAR},
      </if>
      <if test="protb110cc02 != null" >
        #{protb110cc02,jdbcType=TIMESTAMP},
      </if>
      <if test="protb110cc03 != null" >
        #{protb110cc03,jdbcType=VARCHAR},
      </if>
      <if test="protb110cd00 != null" >
        #{protb110cd00,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xst.pro.Protb110Example" resultType="java.lang.Integer" >
    select count(*) from protb110
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update protb110
    <set >
      <if test="record.protb110id != null" >
        PROTB110ID = #{record.protb110id,jdbcType=VARCHAR},
      </if>
      <if test="record.protb110cd01 != null" >
        PROTB110CD01 = #{record.protb110cd01,jdbcType=VARCHAR},
      </if>
      <if test="record.settb03id != null" >
        SETTB03ID = #{record.settb03id,jdbcType=VARCHAR},
      </if>
      <if test="record.protb110ca00 != null" >
        PROTB110CA00 = #{record.protb110ca00,jdbcType=TIMESTAMP},
      </if>
      <if test="record.protb110ca01 != null" >
        PROTB110CA01 = #{record.protb110ca01,jdbcType=TIMESTAMP},
      </if>
      <if test="record.protb110ca02 != null" >
        PROTB110CA02 = #{record.protb110ca02,jdbcType=VARCHAR},
      </if>
      <if test="record.protb110ca03 != null" >
        PROTB110CA03 = #{record.protb110ca03,jdbcType=VARCHAR},
      </if>
      <if test="record.protb110cc00 != null" >
        PROTB110CC00 = #{record.protb110cc00,jdbcType=TIMESTAMP},
      </if>
      <if test="record.protb110cc01 != null" >
        PROTB110CC01 = #{record.protb110cc01,jdbcType=VARCHAR},
      </if>
      <if test="record.protb110cc02 != null" >
        PROTB110CC02 = #{record.protb110cc02,jdbcType=TIMESTAMP},
      </if>
      <if test="record.protb110cc03 != null" >
        PROTB110CC03 = #{record.protb110cc03,jdbcType=VARCHAR},
      </if>
      <if test="record.protb110cd00 != null" >
        PROTB110CD00 = #{record.protb110cd00,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update protb110
    set PROTB110ID = #{record.protb110id,jdbcType=VARCHAR},
      PROTB110CD01 = #{record.protb110cd01,jdbcType=VARCHAR},
      SETTB03ID = #{record.settb03id,jdbcType=VARCHAR},
      PROTB110CA00 = #{record.protb110ca00,jdbcType=TIMESTAMP},
      PROTB110CA01 = #{record.protb110ca01,jdbcType=TIMESTAMP},
      PROTB110CA02 = #{record.protb110ca02,jdbcType=VARCHAR},
      PROTB110CA03 = #{record.protb110ca03,jdbcType=VARCHAR},
      PROTB110CC00 = #{record.protb110cc00,jdbcType=TIMESTAMP},
      PROTB110CC01 = #{record.protb110cc01,jdbcType=VARCHAR},
      PROTB110CC02 = #{record.protb110cc02,jdbcType=TIMESTAMP},
      PROTB110CC03 = #{record.protb110cc03,jdbcType=VARCHAR},
      PROTB110CD00 = #{record.protb110cd00,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xst.pro.Protb110" >
    update protb110
    <set >
      <if test="settb03id != null" >
        SETTB03ID = #{settb03id,jdbcType=VARCHAR},
      </if>
      <if test="protb110ca00 != null" >
        PROTB110CA00 = #{protb110ca00,jdbcType=TIMESTAMP},
      </if>
      <if test="protb110ca01 != null" >
        PROTB110CA01 = #{protb110ca01,jdbcType=TIMESTAMP},
      </if>
      <if test="protb110ca02 != null" >
        PROTB110CA02 = #{protb110ca02,jdbcType=VARCHAR},
      </if>
      <if test="protb110ca03 != null" >
        PROTB110CA03 = #{protb110ca03,jdbcType=VARCHAR},
      </if>
      <if test="protb110cc00 != null" >
        PROTB110CC00 = #{protb110cc00,jdbcType=TIMESTAMP},
      </if>
      <if test="protb110cc01 != null" >
        PROTB110CC01 = #{protb110cc01,jdbcType=VARCHAR},
      </if>
      <if test="protb110cc02 != null" >
        PROTB110CC02 = #{protb110cc02,jdbcType=TIMESTAMP},
      </if>
      <if test="protb110cc03 != null" >
        PROTB110CC03 = #{protb110cc03,jdbcType=VARCHAR},
      </if>
      <if test="protb110cd00 != null" >
        PROTB110CD00 = #{protb110cd00,jdbcType=VARCHAR},
      </if>
    </set>
    where PROTB110ID = #{protb110id,jdbcType=VARCHAR}
      and PROTB110CD01 = #{protb110cd01,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xst.pro.Protb110" >
    update protb110
    set SETTB03ID = #{settb03id,jdbcType=VARCHAR},
      PROTB110CA00 = #{protb110ca00,jdbcType=TIMESTAMP},
      PROTB110CA01 = #{protb110ca01,jdbcType=TIMESTAMP},
      PROTB110CA02 = #{protb110ca02,jdbcType=VARCHAR},
      PROTB110CA03 = #{protb110ca03,jdbcType=VARCHAR},
      PROTB110CC00 = #{protb110cc00,jdbcType=TIMESTAMP},
      PROTB110CC01 = #{protb110cc01,jdbcType=VARCHAR},
      PROTB110CC02 = #{protb110cc02,jdbcType=TIMESTAMP},
      PROTB110CC03 = #{protb110cc03,jdbcType=VARCHAR},
      PROTB110CD00 = #{protb110cd00,jdbcType=VARCHAR}
    where PROTB110ID = #{protb110id,jdbcType=VARCHAR}
      and PROTB110CD01 = #{protb110cd01,jdbcType=VARCHAR}
  </update>
</mapper>